html{
    background-color: rgb(221, 230, 233);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    position: relative;
    font-weight: bold;
    color:#4b4a4a;
    text-align: center;
    border-top: 60px;
}
p{
    position:relative;
    color:rgb(53, 53, 6);
    text-align: left;
    margin-left: 2em;
}
nav div{
    float: right;
    padding: 2px;
    background-color: rgb(2, 25, 32);
}
li{
color: #fff;
}
nav div ol li{
    display:inline-block;

}
a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(146, 9, 32);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:hover {
    color: rgb(0, 195, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: rgb(255, 174, 0);
    background-color: transparent;
    text-decoration: underline;
  }